/* index html */

html, body {
    margin: 0;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    background-color: #f7f4f1;
    font-family: "Sora", sans-serif;
}

/* style html */

/* Reference html */